<footer class="footer ">
      <div class="container">
      <hr/>
        <div class="row footer-top">
          <div class="col-sm-6 col-lg-6">
            <h4>
              
            </h4>
            <p>本网站所列开源项目的版权为作者所有。</p>
          </div>
          <div class="col-sm-6  col-lg-5 col-lg-offset-1">
            <div class="row about">
              <div class="col-xs-3">
            
              </div>
              <div class="col-xs-3">
                
              </div>
              <div class="col-xs-3">
                
              </div>
              <div class="col-xs-3">
                
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </footer>
